<adminLayout>
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <div class="card-body d-flex justify-content-between">
          <div class="form-group position-relative has-icon-left">
            <input type="text" class="form-control" v-model="search" placeholder="Search Task">
            <div class="form-control-icon">
              <i class="bi bi-person"></i>
            </div>
          </div>
          <button @click="toggleModalAdd" class="btn btn-primary rounded-pill"> ADD </button>
        </div>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Full Name
                </th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created AT
                </th>
                <th class="text-secondary opacity-7">Action</th>
              </tr>
            </thead>
            <tbody v-for="(user, index) in users" v-bind:key="user.id">
              <tr>
                <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{user.id}}
                </td>
                <td class=" text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  {{user.name}}
                </td>
                <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  {{user.email}}
                </td>
                <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  ACTIVE
                </td>
                <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                </td>
                <td class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                  <a href="#" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                    data-original-title="Edit user"> Edit </a>
                </td>
              </tr>
            </tbody>
          </table>
          <modalAddUser v-if="showModalAdd" @toggleModal="toggleModalAdd" />
        </div>
      </div>
    </div>
  </div>
</adminLayout>